<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="container">
      {% if user and user.id %}
      <div class="profile-wrap">
        <div class="profile">
            <div class="user-name">{{'안녕하세요! ' + user.nick + '님'}}</div>
            <div class="half">
              <div>팔로잉</div>
              <div class="count following-count">{{followingCount}}</div>
            </div>
            <div class="half">
              <div>팔로워</div>
              <div class="count follower-count">{{followerCount}}</div>
            </div>
          <input id="my-id" type="hidden" value="{{user.id}}">
          <a id="my-profile" href="/profile" class="btn">내 프로필</a>
          <a id="logout" href="/auth/logout" class="btn">로그아웃</a>
        </div>
        <footer>
          안녕하세요
          <a href="https://www.notion.so/956fbd2504cb46df8ce1a16dc5d6e459" target="_blank">Seong-gon</a>
          입니다.
        </footer>
        </div>
        {% block content %}
        {% endblock %}
      </div>
      {% else %}
        <div class="login-wrap">
          <div class="login">
            <form id="login-form" action="/auth/login" method="post">
              <div class="input-group">
                <input id="email" type="email" name="email" placeholder="이메일을 입력해주세요" required autofocus>
              </div>
              <div class="input-group">
                <input id="password" type="password" name="password" placeholder="비밀번호를 입력해주세요" required>
              </div>
              <button id="login-btn" type="submit" class="main-btn">로그인</button>
              <a id="kakao" href="/auth/kakao" class="main-btn">카카오톡</a>
              <a id="join" href="/join" class="main-btn">회원가입</a>
            </form>
          </div>
        <footer>
          안녕하세요
          <a href="https://www.notion.so/956fbd2504cb46df8ce1a16dc5d6e459" target="_blank">Seong-gon</a>
          입니다.
        </footer>
      </div>
      {% endif %}
      
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
          alert(new URL(location.href).searchParams.get('loginError'));
        }
      };
    </script>
    {% block script %}
    {% endblock %}
  </body>
</html>